<div class="container-fluid">
    <div class="continent-header">
        <img src="https://i.natgeofe.com/n/6c02ad5a-977b-4f12-b9c0-02ffb0736e07/metropolitan-cathedral-zocalo-mexico-city_2x1.JPG" alt="">
        <div class="continent-info">
            <h2>America</h2>
            <p>"lorem lorem lorem ola xiao xiao piao piao"</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="info-style-1">
        <div class="row">
            <div class="col-sm col-lg-6"><img src="https://i.natgeofe.com/n/6c02ad5a-977b-4f12-b9c0-02ffb0736e07/metropolitan-cathedral-zocalo-mexico-city_2x1.JPG" alt=""></div>
            <div class="col-sm col-lg-6">
                <h2>Este es un titulo</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo cumque est nisi nam officia aut hic repellendus sapiente nesciunt aperiam, iusto eveniet nobis deleniti consequatur mollitia eaque labore repellat!
                    Deleniti commodi quaerat assumenda laudantium aspernatur fuga aliquid placeat sint enim doloribus sed omnis voluptatem voluptate incidunt explicabo, quos distinctio accusamus aperiam debitis, ipsum aliquam delectus eveniet nemo! Placeat, aut?
                    Quae libero nobis, cupiditate laudantium enim blanditiis quasi aspernatur possimus excepturi illum officiis, recusandae neque. Molestiae, aliquid deserunt! Odio quia nam eveniet voluptatem incidunt quidem quasi nihil suscipit adipisci facilis.
                    Ullam modi nesciunt, officia vel, deserunt debitis vitae repellat architecto aperiam eos ducimus velit quos! Voluptatem quia quas quos, repudiandae ad, officia sapiente aliquam, provident incidunt harum facere ab quod.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="info-style-2">
        <div class="row">
            <img src="https://i.natgeofe.com/n/6c02ad5a-977b-4f12-b9c0-02ffb0736e07/metropolitan-cathedral-zocalo-mexico-city_2x1.JPG" alt="">
        </div>
        <div class="row">
                <h2>Este es un titulo</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo cumque est nisi nam officia aut hic repellendus sapiente nesciunt aperiam, iusto eveniet nobis deleniti consequatur mollitia eaque labore repellat!
                    Deleniti commodi quaerat assumenda laudantium aspernatur fuga aliquid placeat sint enim doloribus sed omnis voluptatem voluptate incidunt explicabo, quos distinctio accusamus aperiam debitis, ipsum aliquam delectus eveniet nemo! Placeat, aut?
                    Quae libero nobis, cupiditate laudantium enim blanditiis quasi aspernatur possimus excepturi illum officiis, recusandae neque. Molestiae, aliquid deserunt! Odio quia nam eveniet voluptatem incidunt quidem quasi nihil suscipit adipisci facilis.
                    Ullam modi nesciunt, officia vel, deserunt debitis vitae repellat architecto aperiam eos ducimus velit quos! Voluptatem quia quas quos, repudiandae ad, officia sapiente aliquam, provident incidunt harum facere ab quod.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo cumque est nisi nam officia aut hic repellendus sapiente nesciunt aperiam, iusto eveniet nobis deleniti consequatur mollitia eaque labore repellat!
                    Deleniti commodi quaerat assumenda laudantium aspernatur fuga aliquid placeat sint enim doloribus sed omnis voluptatem voluptate incidunt explicabo, quos distinctio accusamus aperiam debitis, ipsum aliquam delectus eveniet nemo! Placeat, aut?
                    Quae libero nobis, cupiditate laudantium enim blanditiis quasi aspernatur possimus excepturi illum officiis, recusandae neque. Molestiae, aliquid deserunt! Odio quia nam eveniet voluptatem incidunt quidem quasi nihil suscipit adipisci facilis.
                    Ullam modi nesciunt, officia vel, deserunt debitis vitae repellat architecto aperiam eos ducimus velit quos! Voluptatem quia quas quos, repudiandae ad, officia sapiente aliquam, provident incidunt harum facere ab quod.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo cumque est nisi nam officia aut hic repellendus sapiente nesciunt aperiam, iusto eveniet nobis deleniti consequatur mollitia eaque labore repellat!
                    Deleniti commodi quaerat assumenda laudantium aspernatur fuga aliquid placeat sint enim doloribus sed omnis voluptatem voluptate incidunt explicabo, quos distinctio accusamus aperiam debitis, ipsum aliquam delectus eveniet nemo! Placeat, aut?
                    Quae libero nobis, cupiditate laudantium enim blanditiis quasi aspernatur possimus excepturi illum officiis, recusandae neque. Molestiae, aliquid deserunt! Odio quia nam eveniet voluptatem incidunt quidem quasi nihil suscipit adipisci facilis.
                    Ullam modi nesciunt, officia vel, deserunt debitis vitae repellat architecto aperiam eos ducimus velit quos! Voluptatem quia quas quos, repudiandae ad, officia sapiente aliquam, provident incidunt harum facere ab quod.
                </p>
        </div>
    </div>
</div>

<div class="container">
    <div class="info-style-1">
        <div class="row">
            <div class="col-sm col-lg-6">
                <h2>Este es un titulo</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo cumque est nisi nam officia aut hic repellendus sapiente nesciunt aperiam, iusto eveniet nobis deleniti consequatur mollitia eaque labore repellat!
                    Deleniti commodi quaerat assumenda laudantium aspernatur fuga aliquid placeat sint enim doloribus sed omnis voluptatem voluptate incidunt explicabo, quos distinctio accusamus aperiam debitis, ipsum aliquam delectus eveniet nemo! Placeat, aut?
                    Quae libero nobis, cupiditate laudantium enim blanditiis quasi aspernatur possimus excepturi illum officiis, recusandae neque. Molestiae, aliquid deserunt! Odio quia nam eveniet voluptatem incidunt quidem quasi nihil suscipit adipisci facilis.
                    Ullam modi nesciunt, officia vel, deserunt debitis vitae repellat architecto aperiam eos ducimus velit quos! Voluptatem quia quas quos, repudiandae ad, officia sapiente aliquam, provident incidunt harum facere ab quod.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo cumque est nisi nam officia aut hic repellendus sapiente nesciunt aperiam, iusto eveniet nobis deleniti consequatur mollitia eaque labore repellat!
                    Deleniti commodi quaerat assumenda laudantium aspernatur fuga aliquid placeat sint enim doloribus sed omnis voluptatem voluptate incidunt explicabo, quos distinctio accusamus aperiam debitis, ipsum aliquam delectus eveniet nemo! Placeat, aut?
                    Quae libero nobis, cupiditate laudantium enim blanditiis quasi aspernatur possimus excepturi illum officiis, recusandae neque. Molestiae, aliquid deserunt! Odio quia nam eveniet voluptatem incidunt quidem quasi nihil suscipit adipisci facilis.
                    Ullam modi nesciunt, officia vel, deserunt debitis vitae repellat architecto aperiam eos ducimus velit quos! Voluptatem quia quas quos, repudiandae ad, officia sapiente aliquam, provident incidunt harum facere ab quod.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto nemo cumque est nisi nam officia aut hic repellendus sapiente nesciunt aperiam, iusto eveniet nobis deleniti consequatur mollitia eaque labore repellat!
                    Deleniti commodi quaerat assumenda laudantium aspernatur fuga aliquid placeat sint enim doloribus sed omnis voluptatem voluptate incidunt explicabo, quos distinctio accusamus aperiam debitis, ipsum aliquam delectus eveniet nemo! Placeat, aut?
                    Quae libero nobis, cupiditate laudantium enim blanditiis quasi aspernatur possimus excepturi illum officiis, recusandae neque. Molestiae, aliquid deserunt! Odio quia nam eveniet voluptatem incidunt quidem quasi nihil suscipit adipisci facilis.
                    Ullam modi nesciunt, officia vel, deserunt debitis vitae repellat architecto aperiam eos ducimus velit quos! Voluptatem quia quas quos, repudiandae ad, officia sapiente aliquam, provident incidunt harum facere ab quod.
                </p>
            </div>
            <div class="col-sm col-lg-6"><img src="https://i.natgeofe.com/n/6c02ad5a-977b-4f12-b9c0-02ffb0736e07/metropolitan-cathedral-zocalo-mexico-city_2x1.JPG" alt=""></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">An item</li>
                  <li class="list-group-item">A second item</li>
                  <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                  <a href="#" class="card-link">Card link</a>
                  <a href="#" class="card-link">Another link</a>
                </div>
              </div>
        </div>
    </div>
</div>